nav {
  background-color: #333333;
  position: relative;
}

li {
  list-style-type: none;
  padding: 1em;
}

ul > li > a {
  text-decoration: none;
  color: white;
}

.main-navbar {
  padding: 0;
  display: flex;
}

.main-navbar > li {
  position: relative;
  padding-right: 3em;
  transition: background 500ms linear 50ms;
}
.main-navbar > li > a::after {
  content: " \25BC";
}

.sub-navbar {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  width: 100%;
  background-color: #2688cd;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 200ms linear 50ms;
}

.sub-navbar > li {
  transition: background 500ms linear 50ms;
}

.main-navbar > li:hover {
  background-color: #2688cd;
}

.main-navbar > li:hover .sub-navbar {
  transform: scale(1, 1);
}

.sub-navbar > li:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.sub-navbar > li:hover > a {
  color: black;
}
